---
import { getCollection, render } from 'astro:content';
const projects = (await getCollection('projects')).sort(
    (a, b) => b.data.sortDate.valueOf() - a.data.sortDate.valueOf()
);

const allTags = projects.flatMap((project) => project.data.tags);
const uniqueTags = [...new Set(allTags)].sort();
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <h1>Ryan Hausmann</h1>

        <section class="top-info">
            <div class="portrait-box">
                <img src="/assets/portrait.jpg" class="portrait-img" />
            </div>

            <div class="top-info-text">
                <p>My name is Ryan Hausmann, and I am currently a rising senior studying <b>Electrical &amp; Computer Engineering</b> at <b>Rowan University</b>, with a minor in Computer Science. I'm also working my third summer at <b>Nokia Bell Labs</b> as an <b>Optical Hardware Development Co-Op</b>.</p>
                <p>I love working with circuits, FPGAs, software, and more. Take a look at some of my projects on this page to see what I've been up to.</p>
                <p style="margin-bottom: 0;">Also have a look at some of my profiles:</p>
                <ul style="margin-top: 0; margin-bottom: 0;">
                    <li><a href="https://github.com/ryanhaus" target="_blank">GitHub</a></li>
                    <li><a href="https://linkedin.com/in/ryanhaus" target="_blank">LinkedIn</a></li>
                </ul>
                Or, you can contact me at <a href="mailto:ryanhausmann3@gmail.com">ryanhausmann3@gmail.com</a>.
            </div>
        </section>
        
        <section>
            <h2>Resume</h2>
            <p>You can download a PDF copy of my resume <a href="/assets/resume.pdf" target="_blank">here</a>.</p>
            <p>Also make sure to take a look around here to see some of my projects in more detail!</p>
        </section>

        <section>
            <h2>Projects</h2>
            <p style="margin-bottom: 0;">Find info on some of my projects below. Click on a project to find out more.</p>

            <br />
            <div class="filter-menu">
                <label for="tag-filter"><strong>Filter by tag:</strong></label>
                <select id="tag-filter" class="filter-dropdown">
                    <option value="all">[All]</option>
                    { uniqueTags.map((tag) => (
                        <option value={tag}>[{tag}]</option>
                    ))}
                </select>
            </div>

            <div class="grid">
                { projects.map(async (project) => {
                    const { Content } = await render(project);

                    return (
                    <article class="card" data-tags={project.data.tags.join(',')}>
                            <header class="card-header">
                                <div class="title-group">
                                    <h3 class="card-title">
                                        <a href={`/projects/${project.id}`} class="card-clickable-overlay">
                                            {project.data.title}
                                        </a>
                                    </h3>

                                    { project.data.githubUrl &&
                                        (<a href={project.data.githubUrl} target="_blank" rel="noopener noreferrer" class="github-link">
                                            <img src="/assets/github-logo.svg" width="20" height="20" class="github-icon" />
                                        </a>
                                    )}
                                </div>
                                
                                <span class="card-date">{project.data.dates}</span>
                            </header>

                            <p class="card-desc">{project.data.desc}</p>

                            { project.data.image && <img class="card-image" src=`/assets/projects/${project.id}/${project.data.image}` alt={project.data.title} /> }

                            <div class="card-tags">
                                { project.data.tags.map((tag) => 
                                    <span class="tag-pill">{tag}</span>
                                )}
                            </div>
                        </article>
                    )
                })}
            </div>
        </section>
    </body>

    <script src="/scripts/project-filter.js" is:inline />
</html>
