---
import { getCollection, render } from 'astro:content';
const projects = await getCollection('projects');
---

<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <h1>Ryan Hausmann</h1>

        <h2>Projects</h2>
        <p style="margin-bottom: 0;">Find info on some of my projects below. Click on a project to find out more.</p>

        <div class="grid">
            { projects.map(async (project) => {
                const { Content } = await render(project);

                return (
                    <article class="card">
                        <header class="card-header">
                            <div class="title-group">
                                <h3 class="card-title">
                                    <a href={`/projects/${project.id}`} class="card-clickable-overlay">
                                        {project.data.title}
                                    </a>
                                </h3>

                                { project.data.githubUrl &&
                                    (<a href={project.data.githubUrl} target="_blank" rel="noopener noreferrer" class="github-link">
                                        <img src="/images/github-logo.svg" width="20" height="20" class="github-icon" />
                                    </a>
                                )}
                            </div>
                            
                            <span class="card-date">{project.data.dates}</span>
                        </header>

                        <p class="card-desc">{project.data.desc}</p>

                        { project.data.image && <img class="card-image" src={project.data.image} alt={project.data.title} /> }

                        <div class="card-tags">
                            { project.data.tags.map((tag) => 
                                <span class="tag-pill">{tag}</span>
                            )}
                        </div>
                    </article>
                )
            })}
        </div>
    </body>
</html>
